<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title"
                    >{{title}}</span
                >
            </div>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-8 pb-0 m-0">
        <form
            autocomplete="off"
            novalidate
            [formGroup]="form"
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxFlex="100%"
            fxLayoutGap="8px"
            fxLayoutGap.lt-md="0"
        >
        <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Año </mat-label>
                                <mat-select formControlName="year">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.year"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(70% - 12px)" fxFlex.lt-md="100%"></div>
                            <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Programa presupuestal </mat-label>
                                <mat-select formControlName="budgetProgram">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.budgetProgram"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="budgetProgramDescription"
                                        formControlName="budgetProgramDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Producto </mat-label>
                                <mat-select formControlName="product">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.product"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="productDescription"
                                        formControlName="productDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Actividad </mat-label>
                                <mat-select formControlName="activity">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.activity"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="activityDescription"
                                        formControlName="activityDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Función </mat-label>
                                <mat-select formControlName="function">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.function"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="functionDescription"
                                        formControlName="functionDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>División funcional </mat-label>
                                <mat-select formControlName="functionalDivision">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.functionalDivision"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="functionalDivisionDescription"
                                        formControlName="functionalDivisionDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Grupo funcional </mat-label>
                                <mat-select formControlName="functionalGroup">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.functionalGroup"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="functionalGroupDescription"
                                        formControlName="functionalGroupDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Finalidad </mat-label>
                                <mat-select formControlName="purpose">
                                    <mat-option value="">Seleccione</mat-option>
                                    <mat-option *ngFor="let item of listas?.purpose"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label> </mat-label>
                                    <input
                                        type="text"
                                        name="purposeDescription"
                                        formControlName="purposeDescription"
                                        matInput
                                    />
                                </mat-form-field>
                                <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Estado </mat-label>
                                <mat-select formControlName="state">
                                    <mat-option value="">Todos</mat-option>
                                    <mat-option *ngFor="let item of listas?.state"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(70% - 12px)" fxFlex.lt-md="100%"></div>
        </form>
        </div>

        <mat-divider class="mt-6"></mat-divider>
        <div
            mat-dialog-actions
            class="panel-footer m-0 pr-12"
            fxLayout="row"
            fxLayoutAlign="end center"
        >
            <button
                type="button"
                mat-raised-button
                color="primary"
                class="rounded-none shadow-none"
                (click)="(null)"
                         *ngIf="isSaveActive"
                      [disabled]="true"
            >
                <span class="material-icons">save</span> Guardar
            </button>
            <button
                mat-stroked-button
                class="rounded-none shadow-none"
                (click)="matDialogRef.close()"
            >
                <span class="material-icons">cancel</span> Cerrar
            </button>
        </div>
    </div>
