<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title"
                    >{{title}}</span
                >
            </div>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-8 pb-0 m-0">
        <form
            autocomplete="off"
            novalidate
            [formGroup]="form"
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxFlex="100%"
            fxLayoutGap="8px"
            fxLayoutGap.lt-md="0"
        >
        <mat-form-field appearance="fill" fxFlex="calc(50% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Unidad ejecutora </mat-label>
                                <mat-select formControlName="executingUnit">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.executingUnit"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(50% - 12px)" fxhide.lt-md></div>
                            <mat-form-field appearance="fill" fxFlex="calc(50% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Tipo pago </mat-label>
                                <mat-select formControlName="payType">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.payType"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(50% - 12px)" fxhide.lt-md></div>
                            <mat-form-field appearance="fill" fxFlex="calc(50% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Tipo planilla </mat-label>
                                <mat-select formControlName="payrollType">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.payrollType"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(50% - 12px)" fxhide.lt-md></div>
                            <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Año </mat-label>
                                <mat-select formControlName="year">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.year"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Mes </mat-label>
                                <mat-select formControlName="month">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.month"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="calc(40% - 12px)" fxhide.lt-md></div>
                            <mat-form-field appearance="fill" fxFlex="calc(30% - 12px)" fxFlex.lt-md="100%">
                                <mat-label>Estado </mat-label>
                                <mat-select formControlName="status">
                                    <mat-option value="">Seleccionar</mat-option>
                                    <mat-option *ngFor="let item of listas?.status"
                                        [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field><mat-form-field
                                    appearance="fill"
                                    fxFlex="calc(70% - 12px)"
                                    fxFlex.lt-md="100%">
                                    <mat-label>Motivo de anulación </mat-label>
                                    <input
                                        type="text"
                                        name="reasonCancellation"
                                        formControlName="reasonCancellation"
                                        matInput
                                    />
                                </mat-form-field>
        </form>
        </div>

        <mat-divider class="mt-6"></mat-divider>
        <div
            mat-dialog-actions
            class="panel-footer m-0 pr-12"
            fxLayout="row"
            fxLayoutAlign="end center"
        >
            <button
                type="button"
                mat-raised-button
                color="primary"
                class="rounded-none shadow-none"
                (click)="(null)"
                         *ngIf="isSaveActive"
                      [disabled]="true"
            >
                <span class="material-icons">save</span> Guardar
            </button>
            <button
                mat-stroked-button
                class="rounded-none shadow-none"
                (click)="matDialogRef.close()"
            >
                <span class="material-icons">cancel</span> Cerrar
            </button>
        </div>
    </div>
