<div fxFlex="100">
    <div fxFlex="100">
        <div class="p-8" fxLayout="column">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between center" class="mb-6">
                <div fxFlex>
                    <div class="text-2xl font-medium tracking-tight leading-8">Parametros de la planilla</div>
                </div>
                <div fxFlex>
                    <ol class="breadcrumb pull-right">
                        <li><a [routerLink]="['/ayni/personal/inicio']" class="text-blue-500">
                                <mat-icon color="accent" class="s-18 text-blue-500">home</mat-icon>Inicio
                            </a></li>
                        <li><a [routerLink]="['/ayni/personal/inicio']">Compensaciones</a></li>
                        <li class="active"><a>Parametros de la planilla</a></li>
                    </ol>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100">
                <div class="bg-card shadow fullwidth inner-scroll p-6" fxFlex="100" fxLayout="column"> <div class="page-layout carded left-sidebar inner-scroll ">
                    <div class="center">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Criterios de búsqueda</h3>
                            </div>
                            <div class="panel-body">
                                <form autocomplete="off" novalidate [formGroup]="form">
                                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxFlex="100%" fxLayoutGap="12px"
                                        fxLayoutGap.lt-md="0">
                                        <mat-form-field
                                appearance="fill"
                                fxFlex="calc(33% - 12px)"
                                fxFlex.lt-md="100%">
                                <mat-label>Descripción </mat-label>
                                <input
                                    type="text"
                                    name="description"
                                    formControlName="description"
                                    matInput
                                />
                            </mat-form-field><mat-form-field appearance="fill" fxFlex="calc(33% - 12px)" fxFlex.lt-md="100%"
                            >
                            <mat-label>Tipo parámetro </mat-label>
                            <mat-select formControlName="parameterType">
                                  <mat-option value="">Seleccionar</mat-option>
                                  <mat-option *ngFor="let item of listas?.parameterType"
                                      [value]="item">
                                      {{item}}
                                  </mat-option>
                              </mat-select>
                            <mat-error>

                            </mat-error>
                        </mat-form-field><mat-form-field appearance="fill" fxFlex="calc(33% - 12px)" fxFlex.lt-md="100%"
                            >
                            <mat-label>Estado </mat-label>
                            <mat-select formControlName="status">
                                  <mat-option value="">Seleccionar</mat-option>
                                  <mat-option *ngFor="let item of listas?.status"
                                      [value]="item">
                                      {{item}}
                                  </mat-option>
                              </mat-select>
                            <mat-error>

                            </mat-error>
                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <div class="p-0" fxLayout="row">
                                        <button mat-raised-button color="primary" class="rounded-none shadow-none" (click)="handleLimpiar()">Limpiar</button>
                                    </div>
                                    <div class="pl-6" fxLayout="row">
                                        <button mat-raised-button color="primary" class="rounded-none shadow-none" (click)="handleBuscar()">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="pb-10px">
<!-- <div fxFlex>
    <div class="pl-2" fxLayout="row">
        <button mat-raised-button color="primary" class="rounded-none shadow-none" (click)="handleCrear()"

     >
        <span class="material-icons">add_circle</span> Carga masiva
    </button>
    </div>
</div> -->
<div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <div class="pl-2" fxLayout="row">
        <button mat-raised-button color="primary" class="rounded-none shadow-none" (click)="handleCrear()"

     >
        <span class="material-icons">add_circle</span> Nuevo
    </button>
    </div>
    <div class="pl-2" fxLayout="row">
        <button mat-stroked-button color="primary"
            (click)="handleExportar()" [disabled]="export" class="rounded-none shadow-none"><span class="material-icons">get_app</span>
            Exportar</button>
    </div>
</div>

            </div>
<div ngClass.lt-lg="scroll-grid-lt-lg" fxFlex="100" fxLayout="column" class="overflow-x-auto overflow-y-hidden">
                    <table mat-table class="minedu-table" [dataSource]="dataSource" fxFlex="100">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef class="text-center">N°</th>
                            <td mat-cell *matCellDef="let row; index as i" class="text-center">{{paginator.pageSize * paginator.pageIndex + i + 1}}</td>
                        </ng-container>
                                                    <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Código</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.code }}
                            </td>
                        </ng-container><ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Descripción</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.description }}
                            </td>
                        </ng-container><ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Valor</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.value }}
                            </td>
                        </ng-container><ng-container matColumnDef="startDate">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Fecha inicio</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.startDate }}
                            </td>
                        </ng-container><ng-container matColumnDef="endDate">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Fecha fin</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.endDate }}
                            </td>
                        </ng-container><ng-container matColumnDef="parameterType">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Tipo parametro</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.parameterType }}
                            </td>
                        </ng-container><ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Estado</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.status }}
                            </td>
                        </ng-container><ng-container matColumnDef="cancellationReason">
                            <th mat-header-cell *matHeaderCellDef class="text-left">Motivo anulación</th>
                            <td mat-cell *matCellDef="let row" class="text-left">
                                {{row.cancellationReason }}
                            </td>
                        </ng-container><ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                            <td mat-cell *matCellDef="let row; let  i = index;">
                                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="primary" class="sidebar-toggle btn-sm"
                                            (click)="handleModificar(row)"
                                            aria-label="Modificar" matTooltip="Modificar">
                                            <mat-icon class="">create</mat-icon>
                                        </button>
                                    </div>
                                    <div class="mat-icon-table">
                                        <button mat-stroked-button color="warn" class="sidebar-toggle btn-sm ml-2"
                                             (click)="handleEliminar(row, i)"
                                            aria-label="Eliminar" matTooltip="Eliminar">
                                            <mat-icon class="">restore_from_trash</mat-icon>
                                        </button>
                                    </div>

                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                        </tr>
                    </table>
                </div>
                <div class="no-results"
                    [style.display]="dataSource?.data.length === 0 ? '' : 'none'">
                    No se encontraron registros
                </div>
                <mat-paginator #paginator  [pageIndex]="0" [pageSize]="10" fxLayoutAlign="center center"
                    [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator> </div>
            </div>
        </div>
    </div>
</div>
