<div class="page-layout dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="title dialog-title">{{ title }}</span>
            </div>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-8 pb-0 m-0">
        <form
            autocomplete="off"
            novalidate
            [formGroup]="form"
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxFlex="100%"
            fxLayoutGap="8px"
            fxLayoutGap.lt-md="0"
        >
            <mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Rol </mat-label>
                <mat-select formControlName="role">
                    <mat-option value="">Seleccione</mat-option>
                    <mat-option
                        *ngFor="let item of listas?.role"
                        [value]="item"
                    >
                        {{ item }}
                    </mat-option>
                </mat-select> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(70% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label> </mat-label>
                <input
                    type="text"
                    name="roleDescription"
                    formControlName="roleDescription"
                    matInput
                /> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Tipo de planilla </mat-label>
                <mat-select formControlName="typePayroll">
                    <mat-option value="">Seleccione</mat-option>
                    <mat-option
                        *ngFor="let item of listas?.typePayroll"
                        [value]="item"
                    >
                        {{ item }}
                    </mat-option>
                </mat-select> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(70% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label> </mat-label>
                <input
                    type="text"
                    name="typePayrollDescription"
                    formControlName="typePayrollDescription"
                    matInput
                /> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Nivel de aprobación </mat-label>
                <mat-select formControlName="approvalLevel">
                    <mat-option value="">Seleccione</mat-option>
                    <mat-option
                        *ngFor="let item of listas?.approvalLevel"
                        [value]="item"
                    >
                        {{ item }}
                    </mat-option>
                </mat-select> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(70% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label> </mat-label>
                <input
                    type="text"
                    name="approvalLevelDescription"
                    formControlName="approvalLevelDescription"
                    matInput
                /> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Usuario </mat-label>
                <mat-select formControlName="user">
                    <mat-option value="">Seleccione</mat-option>
                    <mat-option
                        *ngFor="let item of listas?.user"
                        [value]="item"
                    >
                        {{ item }}
                    </mat-option>
                </mat-select> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(70% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label> </mat-label>
                <input
                    type="text"
                    name="userDescription"
                    formControlName="userDescription"
                    matInput
                /> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Fecha inicio</mat-label>
                <input
                    matInput
                    [matDatepicker]="startDate"
                    [formControl]="form.get('startDate')"
                    (click)="startDate.open()"
                    (focus)="startDate.open()"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="startDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Fecha fin</mat-label>
                <input
                    matInput
                    [matDatepicker]="endDate"
                    [formControl]="form.get('endDate')"
                    (click)="endDate.open()"
                    (focus)="endDate.open()"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="endDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker> </mat-form-field
            >
            <div fxFlex="calc(40% - 12px)" fxHide.lt-md></div>
            <mat-form-field
                appearance="fill"
                fxFlex="calc(30% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Estado </mat-label>
                <mat-select formControlName="state">
                    <mat-option value="">Todos</mat-option>
                    <mat-option
                        *ngFor="let item of listas?.state"
                        [value]="item"
                    >
                        {{ item }}
                    </mat-option>
                </mat-select> </mat-form-field
            ><mat-form-field
                appearance="fill"
                fxFlex="calc(70% - 12px)"
                fxFlex.lt-md="100%"
            >
                <mat-label>Motivo anulación </mat-label>
                <input
                    type="text"
                    name="cancellationReason"
                    formControlName="cancellationReason"
                    matInput
                />
            </mat-form-field>
        </form>
    </div>

    <mat-divider class="mt-6"></mat-divider>
    <div
        mat-dialog-actions
        class="panel-footer m-0 pr-12"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            type="button"
            mat-raised-button
            color="primary"
            class="rounded-none shadow-none"
            (click)="(null)"
            *ngIf="isSaveActive"
            [disabled]="true"
        >
            <span class="material-icons">save</span> Guardar
        </button>
        <button
            mat-stroked-button
            class="rounded-none shadow-none"
            (click)="matDialogRef.close()"
        >
            <span class="material-icons">cancel</span> Cerrar
        </button>
    </div>
</div>
